# Only ignore files / folders here that are also in .gitgnore
#
# This file uses the same format as .gitgnore,
#   except that it's not recursive by default
#
#   | .gitignore | .dockerignore |
#   |------------|---------------|
#   | .DS_Store  | **/.DS_Store  |
#   | /.env      | .env          |
#
# Only bother including:
#   * big files / folder to lower the build context
#   * often updated files to help the docker cache

# Dependencies
**/node_modules
dist/
.env

# Logs
**/*.log

.git/
.github/
.githooks/
.circleci/
.nodemon.json
.editorconfig
.gitattributes
.prettierignore
.prettierrc.js
.eslintrc.js
.nvmrc
.npmrc
.eslintignore
.eslinrcjs
.vscode
cypress.json
README.md
CHANGELOG.md
CONTRIBUTING.md
**/*.test.ts
renovate.json
**/jest*
**/.DS_Store
**/.storybook/
**/__fixtures__/
**/__snapshots__/
**/__mocks__/
**/__mock__/
**/__tests__/
**/tsconfig.tsbuildinfo
