<!DOCTYPE html>
<html lang="en">
<body>

<h2>Protected login form</h2>

<form action="<%= baseUrl %>/secure/login" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="id">Username:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Log-in">
</form>

</body>
</html>
